<template>
  <div class="dashboard">
    <v-container class="my-5">
      <v-layout row wrap class="justify-space-around">
        <Card class="ma-1"/>
        <CardTable class="ma-1"/>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Card from "@/components/Card";
import CardTable from "@/components/CardTable";
export default {
  components: { Card, CardTable }
};
</script>
