<template>
  <v-flex xs12 md7>
    <v-data-table :headers="headers" :items="desserts" class="elevation-1">
      <template v-slot:items="props">
        <td class="text-xs-center">{{ props.item.title }}</td>
        <td class="text-xs-center">{{ props.item.description }}</td>
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        {
          text: "Title",
          align: "center",
          sortable: true,
          value: "title"
        },
        {
          text: "Description",
          align: "center",
          value: "description"
        }
      ],
      desserts: [
        {
          title: "Trabajar",
          description: "Tengo que trabajar",
        },
        {
          title: "Cursar",
          description: "Tengo que cursar",

        },
        {
          title: "Dormir",
          description: "Tengo que dormir",
        }
      ]
    };
  }
};
</script>
