<template>
  <v-flex xs12 md4>
    <v-card>
      <v-card-title primary-title>
        <v-layout row wrap justify-center>
          <h3 class="headline">TODO TASK</h3>
        </v-layout>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-layout row wrap class="mx-3">
            <v-flex xs12>
              <v-text-field label="Title" prepend-icon="check" :rules="inputRules" v-model="title"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-textarea
                label="Description"
                prepend-icon="edit"
                :rules="inputRules"
                v-model="description"
              ></v-textarea>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-layout xs12 sm6 row wrap>
          <v-btn block color="success" class="ma-3 mt-5" @click="submit">Send</v-btn>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      description: "",
      inputRules: [v => v.length >= 3 || "Minimum length is 3 characters"]
    };
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        console.log(this.title, this.description);
      }
    }
  }
};
</script>

